@{
    ViewData["Title"] = "Calculator";
}

<div class="row">
    <h4>Welcome to Calculator</h4>
    <form name="calculator">
        <input type="text" name="display" label="display" id="display" placeholder="" value="" />
        <table class="cal">
            <tr>
                <td><input type="button" id="btn7" value="7" onclick="enterNumber(7)" /></td>
                <td><input type="button" id="btn8" value="8" onclick="enterNumber(8)" /></td>
                <td><input type="button" id="btn9" value="9" onclick="enterNumber(9)" /></td>
                <td><input type="button" id="btnMultiply" value="*" onclick="submitOp('*')" /></td>
                <td><input type="button" id="btnClear" value="CLR" onclick="clearDisplay()" /></td>
            </tr>
            <tr>
                <td><input type="button" id="btnFour" value="4" onclick="enterNumber(4)" /></td>
                <td><input type="button" id="btn5" value="5" onclick="enterNumber(5)" /></td>
                <td><input type="button" id="btn6" value="6" onclick="enterNumber(6)" /></td>
                <td><input type="button" id="btnPlus" value="+" onclick="submitOp('+')" /></td>
                <td><input type="button" id="btnDelete" value="DEL" onclick="del()" /></td>
            </tr>
            <tr>
                <td><input type="button" id="btn1" value="1" onclick="enterNumber(1)" /></td>
                <td><input type="button" id="btn2" value="2" onclick="enterNumber(2)" /></td>
                <td><input type="button" id="btn3" value="3" onclick="enterNumber(3)" /></td>
                <td><input type="button" id="btnDivide" value="/" onclick="submitOp('/')" /></td>
            </tr>
            <tr>
                <td><input type="button" id="btn0" value="0" onclick="enterNumber(0)" /></td>
                <td><input type="button" id="btnDecimal" value="." onclick="enterNumber('.')" /></td>
                <td><input type="button" id="btnEqual" value="=" onclick="submitEqu()" /></td>
                <td><input type="button" id="btnMinus" value="-" onclick="submitOp('-')" /></td>
            </tr>
        </table>
    </form>
</div>
<script>
    var input;
    var output;
    var operate;
    var numberOne;
    var numberTwo;
    var sum = 0;
    function getSum() {
        if (operate == "+") {
            sum = numberOne + numberTwo;
        }
        if (operate == "-") {
            sum = numberOne - numberTwo;
        }
        if (operate == "*") {
            sum = numberOne * numberTwo;
        }
        if (operate == "/") {
            sum = numberOne / numberTwo;
        }
    }
    function enterNumber(n) {
        document.getElementById('display').value = document.getElementById('display').value + n;
    }
    function clearDisplay() {
        document.getElementById('display').value = "";
        input = null;
        output = "";
        operate = null;
        numberOne = null;
        numberTwo = null;
        sum = 0;
        outPut();
    }
    function del() {
        var d = document.getElementById('display').getAttribute("value").length - 1;
        var deli = document.getElementById('display').value;
        var de = deli.slice(0, d);
        document.getElementById('display').value = de;
    }
    function outPut() {
        document.getElementById('display').value = "";
        document.getElementById('display').setAttribute("placeholder", output);
        console.log(numberOne, numberTwo, sum);
    }
    function submitOp(op) {
        operate = op;
        if (input == null) {
            input = document.getElementById('display').value;
            numberOne = parseFloat(input);
            output = input;
            outPut();
        } else {
            input = document.getElementById('display').value;
            numberTwo = parseFloat(input);
            numberOne = parseFloat(output);
            getSum();
            output = sum.toString();
            input = "";
            outPut();
        }
        numberOne = parseFloat(output);
        if (sum == NaN) {
            output = "Please submit a number."
            outPut();
        }
    }
    function submitEqu() {
        input = document.getElementById('display').value;
        numberTwo = parseFloat(input);
        getSum();
        output = sum.toString();
        outPut();
        if (output == "NaN") {
            output = "Submit number."
            outPut();
        }
    }
</script>

</div>
